<div class="container mt-5 pt-5 mb-5">
  <!-- <div class="text-center">
    <img [src]="src" alt="" style="width: 50%;"/>
  </div> -->
  <!-- <div class="alert alert-primary" role="alert" [hidden]="login.length==0">
    Le login saisie est <strong>{{login}}</strong><br>
    Le mot de passe saisie est <strong>{{password}}</strong>
  </div> -->
  <div class="alert alert-primary" role="alert"  *ngIf="login.length>0;else blockSinon">
    Le login saisie est <strong>{{login}}</strong><br>
    Le mot de passe saisie est <strong>{{password}}</strong>
  </div>
  <ng-template #blockSinon>
    <div class="alert alert-primary" role="alert">
      Vérifier le login et le mot de passe saisies !!!
    </div>
  </ng-template>

  <div class="row justify-content-center">
     <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card">
           <div class="card-body">
              <div class="text-center m-auto">
                 <h4 class="text-uppercase text-center">Login</h4>
              </div>
              <!-- <form action="#" method="post"> -->
                 <div class="form-group mb-3">
                    <label for="emailaddress">Email </label>
                    <input type="email" [(ngModel)]="login" name="email" placeholder="Enter email" class="form-control" required="">
                 </div>
                 <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <div class="input-group bg-light" id="show_hide_password">
                       <input type="password"  [(ngModel)]="password" class="form-control" id="password"  name="password"  placeholder="Enter Password" required="">
                       <div class="input-group-addon">
                          <a href=""><i class="fa fa-lg fa-eye" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;" aria-hidden="true"></i></a>
                       </div>
                    </div>
                 </div>
                 <div class="form-group mb-3">
                    <div class="custom-control custom-checkbox checkbox-success">
                       <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                       <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                    </div>
                 </div>
                 <div class="form-group mb-0 text-center">
                    <button (click)="authentification()" class="btn btn-primary btn-block" type="submit" name="submit"> Log In </button>
                 </div>
              <!-- </form> -->
           </div>
        </div>
     </div>
  </div>
</div>
