<p>accueil works!</p>

<div class="alert alert-primary" role="alert">
  <strong>Bienvenue {{ adresseMail }}</strong>
</div>
<!-- <a href="/login">Retourner au formulaire de connexion</a><br /> -->
<a routerLink="/login">Retourner au formulaire de connexion</a><br />
<a href="http://www.seneweb.com">Seneweb</a><br />
<div class="text-center">
  <button class="btn btn-lg btn-danger" (click)="open(content)">
    Créer un nouveau Rendez-Vous
  </button>
</div>
<table class="table table-striped table-inverse table-responsive">
  <thead class="thead-inverse">
    <tr>
      <th>Id</th>
      <th>Lieu</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rv of rvapiService.tabRvs">
      <td>{{ rv.id }}</td>
      <td>{{ rv.lieu | uppercase}}</td>
      <td>{{ rv.description }}</td>
      <td>{{ rv.date | date:'dd/MM/yyyy à hh:mm:ss' }}</td>
      <td><i class="fa fa-edit" style="color: red" (click)="editerRV(content, rv)"></i></td>
      <td>
        <i
          class="fa fa-trash"
          style="color: red"
          (click)="deleteRV(rv.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Saisie d'un nouveau Rendez-Vous
    </h4>
    <button type="button"  class="close btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form> -->
    <div class="form-group">
      <label for="id"><b>Id du Rendez-Vous</b></label>
      <input type="text"  disabled [(ngModel)]="rv.id" class="form-control bg-secondary text-light" name="id" id="id" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="lieuRv"><b>Lieu du Rendez-Vous</b></label>
      <input type="text" [(ngModel)]="rv.lieu" class="form-control bg-secondary text-light" name="lieuRv" id="lieuRv" aria-describedby="helpId">
    </div>
    <div class="form-group">
      <label for="descRv"><b>Description du Rendez-Vous</b></label>
      <textarea class="form-control bg-secondary text-light" [(ngModel)]="rv.description" name="descRv" id="descRv" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="dateOfBirth"><b>Date du Rendez-Vous</b></label>
      <div class="input-group ">
        <input id="dateRv" [(ngModel)]="rv.date" class="form-control bg-secondary text-light" name="dp" type="datetime-local"/>
      </div>
    </div>
    <!-- </form> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">
      Ajouter à la liste des Rendez-Vous
    </button>
  </div>
</ng-template>
<hr />

<pre>{{ closeResult }}</pre>
